@media (max-width:992px){
    .navbar{
        gap: 10px;
    }
    
    .navbar-list{
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background: var(--bg-rose);
        border: 1px solid var(--bg-lrose); 
        border-top: 0px;
        border-radius: 0 0 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }
    .navbar-list a{
        font-size: 15px;
    }

    .menu-label {
        display: flex;
        cursor: pointer;
        order: 2;
    }
    .menu-label img {
        height: 30px;
        width: 30px;
        background-color: transparent;
    }
    .donation-icon {
        border: 0px solid;
    }

    #toggle-menu:checked + .navbar-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-info{
        width: 800px;
        text-align: start;
        justify-content: center;
        align-items: center;
        gap: 30px;

    }
    .hero-info h1{
        width: 90%;
        max-width: 500px;
        min-width: unset;

    }
    .hero-info p{
        width: 60%;
        max-width: 700px;

    }
    .hero-card {
        display: none;

    }

    #info h2{
        text-align: center;
        width: 80%;

    }
    .info-card-container {
        max-width: 80%;

    }
    #discover {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    #discover-py {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap

    }

    .discover-info {
        flex-direction: column;
        align-items: center;
    }

    .discover-cards{
        flex-direction: column;
    }
    .discover-cards img{
        width: 100%;

    }

    .units-fa {
        flex-wrap: wrap;
        max-width: 390%;
    }
    .unit {
        width: 120px;
    }
     /*registrate.html*/

    #session {
        width: 100%;
    } 
    .log-in{
        display: flex;
        width: 90%;
        border-radius: 15px ;
        background: var(--bg-black);
        padding: none;

    }
    .mail {
        display: block;
        overflow: hidden;
    } 
    .siguiente{
        display: flex;
        overflow:hidden ;
    }

    .log-in-apple{
        display: block;

    }
    .log-in-google {
        display: block
    }
    .siguiente {
        font-size: 20px;
        display: block;
    }
    /*CONTACTANOS*/
    #contactanos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        border-bottom: none;
    }
    .contacto {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
        
    }
    .direction{
        display: flex;
        width: 80%;


    }
    .maps {
        display: block;
        max-width: 90%;
        padding: 2px 2px;
    }

}


@media (max-width: 576px) {
    .navbar{
        width: 100%;
    }
    .donation-icon{
        display: flex;

    }
    .fjfm {
        display: none;
    }
    .hero-info p{
        width: 70%;
        max-width: unset;

    }
    .info{
        width: 100%;

    }
    .info-card {
        width: 90%;
        height: 350px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;

    }
    .info-card{
        border-radius: 5px;
        width: 90%;
    }
    #info h2{
        width: 90%;
        overflow: hidden;
    }
    .info-card p{
        font-size: 15px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .info-card img{
        display: none;
    }
    /* Discover section - proyectos*/

    #discover{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #discover-py {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        overflow: hidden;
        
    }
    #discover h2{
        font-size:25px;
        width: 90%;  
        overflow: hidden;
    }
    #discover-py h2{
        font-size:30px;
        width: 100%;
    }
    .discover-text a{
        display: none;
    }
    .discover-cards {
        display: none;

    }
    .unit{
        max-width: 300px;
        justify-content: center;
        align-items: center;
    }
    .unit-contairner {
       display: none;
    }
    .unit {
        width: 100%;
    }
    #footer {
        min-width: 100%;
        bottom: 0;
    }
    .footer-links{
        flex-direction: column;
        text-align: center;
    }
 /*registrate*/
    #session { 
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;   
    }
    .log-in {
        padding: 1px;
        width: 90%;
    }
    .log-in-apple, .log-in-google {
        font-size: 14px;
        width: 90%;
        display: flex;
    }
    .log-in {
        overflow: hidden;
    }
    .mail {
        display: flex;
        font-size: 12px;
        width: 80%;
    }
    .siguiente{
        display: flex;
        font-size: 14px;
        width: 80%;
    }
 /*CONTACTANOS*/

 .direction {
    display: flex;
    width: 60%;
    text-align: start;
    overflow: hidden;
    flex-wrap: wrap;
 }
 .contact {
    display: none;
 }
 /*quienes somos*/

 .hero-info {
    overflow: hidden;
 }
 .hero-info a{
    overflow: hidden;
    border: none;
 }

}
